body{	
	font-family: 'Kaushan Script', cursive;
	font-family: 'Lato', sans-serif;
	font-family: 'Zilla Slab', serif;
}
main{		
	padding: 10px;		
}

#info-title{
	color: #E0A023;
	margin-top: 20px;
	font-size: 5em;
}
#zumbido:active {	
	animation: step-start;
	animation-duration: 0.2s;
}

#img-home{	
	margin-top: 60px;
	width: 40%;
	border-radius: 60%;   	
	box-shadow: none;	 			
}

nav{
	    /*border-top: 1px solid #F2D02F;*/
}

a{
	color:#F2D02F;
}
article{	
	margin-top: 10px;	
	position: relative;	
	
}
.quitar-float{
	float: none;
} 
.center {
  margin: auto;
  width: 100%;
  border: none;
  /*border: 3px solid green;*/
  padding: 10px;
}
.espacio-arriba{
	margin-top:50px;
}
.fuente-kaushan{
	font-family: 'Kaushan Script', cursive;
}
.fuente-lato{
	font-family: 'Kaushan Script', cursive;
	font-family: 'Lato', sans-serif;
	font-family: 'Zilla Slab', serif;
}
.fuente-tam{
	font-size: 3.5em;	
}
.color-verde{
	color: #E0A023;
}
.margen-derecha{
	margin-right: 1em;
}
.fondo-gris{
	background-color: #eee;
}


.no-lista{
	margin:	0px;
	padding: 0px;
}
.no-lista li{
	list-style-type: none;
}
.padding-largo{
	padding: 5px 10px;
}
.inline-block-barra{
	float:none;	
	display: inline-block;	
	margin-right: -4px;
}
.inline-block{
	float:none;	
	display: inline-flex;	
}
.img-tam{
	max-width: 100%;
}
.fuente-tam-mediano{
	font-size: 1.5em;
}
.fuente-tam-mediogrande{
	font-size: 2em;
}
.fuente-color-negro{
	color: #000000;
}
.restraso-uno{
	animation-delay: 1s;
	-webkit-animation-delay: 1s;
	-moz-animation-delay: 1s;	
}
.restraso-2{	
	animation-delay: 2s;
}
h1{
	animation-delay: 0.5s;
}
h2{
	animation-delay: 2s;
}
#div-index{
	animation-delay: 1s;	
}
.img-tam-mediano{
	max-width: 50%;
}
.animacion-adelanto-1{
	animation-delay: -1s;
}
#h1-menu{
	animation-delay: -0.01s;
}
#img-articulo{
	animation-delay: 0.5s;
}

/*	INFO CONTAINER INFORMACION NORMAL DE LA PAGINA WEB*/
.info-container{
	text-align: center;
	 margin-top: 80px;
}
.cards-container{
	justify-content: center;
	width: auto;
	display: flex;	
	flex-direction: row;		
	flex-wrap: wrap;	
}

figure{
	min-width: 320px;	
	max-width: 320px;	
	margin: 10px;
	background-color: rgb(219, 216, 216);
	border-radius: 20px;
	border-width: 200px;
	padding: 10px;
	padding-top: 20px;	
}
figure img{	
	width: 50%;
}
#iframe-map{		
	width : 600px;
	height : 500px;
	border-radius: 10px;
}	

@media screen and (max-width: 700px){
	

	.info-container{	
		padding: 0px 0px 0px 0px;
		text-align: center;		
		margin-top: 80px;				
	}


	#img-home{			
		margin-top: 10px;	
		min-width: 340px; 
		min-height: auto;		
		padding-left: -20px;				
		padding-margin: -20px;
		/*box-shadow: 0px 0px 40px -5px; 	*/
		box-shadow: none;	
	}
	#info-title{
		font-size: 3em;
	}
	.img-logo{
		width: 20%;		
	}

	.cards-container{
		width: 100%;
		
	}

	figure{		
		border-radius: 20px;
		border-width: 200px;
		padding: 10px;
		padding-top: 20px;
		border: rgb(3, 3, 3);		
	}
	figure img{	
		width: 50%;
	}

	#iframe-map{		
		width : 350px;
		height : 350px;		
	}
	
}
	
