@import url('https://fonts.googleapis.com/css?family=Nunito:300,400');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

header{
    width: 100%;
    height: 110px;
    border-bottom: 1px solid #F2D02F;
    position: fixed;
    z-index: 100;
    background: white;
    top: 0;
           
}

.container-header{
    width: 100%;
    max-width: 1220px;    
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: auto;
    padding-right: 100px;
    padding-left: 100px;
    /*margin-right: 0px;*/
}
.menu-button{
    display: none;
}

.container-logo-title{
    display: flex;
    margin-top: 5px;    
    margin-left: 10px;  
}

.container-logo-title img{
    width: 80px;    
    height: 100px;    
}

.container-logo-title h1{
    font-weight: 300;
    margin-top: 16px;
    margin-left: 10px;
}

.container-menu{
/*    display: flex;*/
    margin-top: 20px;
}

.menu{
    position: absolute;
    right: 10px;
    margin-top: 20px;    
}

.menu ,ul{     
    display: flex;
}

.menu ul ,li{
    list-style: none;
    font-size: 12px;    
    color: black;
    padding: 20px 10px;
    border: 1px solid transparent;
    border-top: 4px solid transparent;
    cursor: pointer;
    transition: border 300ms;
    position: relative;
}

.menu ul li label,
.menu ul li Span{
    color: #868686;
}

.menu ul  ,li:hover{
    border: 1px solid #eeeeee;    
    border-top: 4px solid #F2D02F;    
    
}

.menu ul li ,span{
    font-size: 14px;
    position: relative;    
}

.menu ul li ,label{
    font-size: 25px;
    position: relative;
    top: -6px;
}


/*Submenu*/

.submenu-ul{   
    /*z-index: 1;         */
    width: 300px;
    position: absolute;    
    left: 0;
    flex-direction: column;
    border: 1px solid #eeeeee;
    background: white;
    border-bottom: 1px solid #e7e5e5;
    padding: 10px;
}
.submenu-ul :hover{               
    border-bottom: 1px solid #eeeeee;    
    border-top: 1px solid #eeeeee;    
    /*border-left: none;
    border-right: none;*/
    
}

/*
.menu ul li ul ,li{
    padding: 10px 20px;
    border-bottom: 1px solid #eeeeee;
    font-weight: 100;
    font-size: 14px;
    position: relative;
}
*/
.submenu-ul-li{
    padding: 10px 20px;
    border-bottom: 1px solid #eeeeee;
    font-weight: 100;
    font-size: 14px;
    position: relative;
}

.menu ul li ul ,li:hover{
    background: #FAFAFA;    
}

/*
.menu ul li ul li ul{
    position: absolute;
    left: 287px;
    top: 0;
}*/
.submenu-web-ul-li-ul{
    position: absolute;
    left: 287px;    
    top: 0px;

}
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media screen and (max-width: 700px){  
        
    header{
        height: max-content;
    }
    .container-header{      
        padding: 0px 0px 0px 0px;          
        position: relative;
            
    }   
    .menu-button{        
        display: block;        
    }     
        
    .menu-button i{    
        font-size: 1.9em;
        margin-top: 18px;            
        display: relative;
    }
   
    
    .container-logo-title{   
        display: flex;
        margin: auto;        
        justify-content: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 0px;
        margin-top: 0px;
        font-size: 1em;        
    }
    .container-logo-title img{               
        padding-top: 10px;
        width: 15%;
        height: 15%;
    }
   
    .container-logo-title h1{   
        font-size: 2em;
    }    
   
    .container-menu{       
        display: none;    
        margin-top: 0px;
        margin-left: -10px;
        top: 0; 
        width: 200px;
        position: fixed;
        background-color: #2D2F30;         
    }
    .menu{    
        width: auto;                             
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: #2D2F30;     
        margin-top: 0px;    
    }
        /*
        .menu ,ul{
            flex-direction: column;
        }*/

    .menu-ul{        
        flex-direction: column;
    }
    .menu-ul li{
        color: white;
    }
    /*
    .menu ul li ,ul{
        position:relative;
    }
    */
    .submenu-ul{    
        width: 100%;
        position: relative;
        background-color: #2D2F30; 
        border: none;  
        padding: 2px; 
        
    }
    .submenu-ul-li{    
        border-bottom:  1px solid #52525252;    
            
    }
    .submenu-ul :hover{
        border: 1px solid transparent;
        border-top: 4px, solid transparent;       
    }
    .menu ul li ul ,li:hover{
        background-color: #363636;
    }
    /*
    .menu ul li ul li ul{
        position: relative;
    }*/
    .submenu-web-ul-li-ul{  
        width: 100%;
        border-bottom: 1px, solid #414141;        
        position: relative;      
        border: none;    
        left: 0px; 

    }

}
